body{
	    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 1360px;
    height: 617px;
}
header{
	border: 1px solid black;
}
header ul li {
    list-style-type: none;
    float: right;
    margin-right: 24px;
}
.abc{
	text-align: right;
	    margin-bottom: 17px;
}
nav{
	border: 1px solid black;
	text-align: center;
}
nav ul li {
       list-style-type: none;
    display: inline;
}
.section1 {
    border: 1px solid red;
    width: 313px;
    height: 271px;
    float: left;
    margin-left: 82px;
}
.section2 {
    width: 516px;
    margin: auto;
    float:left;
    text-align: center;
}
.section2 img {
    border: 1px solid red;
    width: 509px;
    height: 164px;
    
}
.section2 p {
    border: 1px solid;
    width: 509px;
    height: 87px;
}
.links {
    border: 1px solid black;
    width: 396px;
    margin-left: 914px;
    height: 163px;
}
.shweta {
    border: 1px solid #921313;
    width: 395px;
    height: 87px;
    margin-left: 915px;
    margin-top: 20px;
}
footer {
    border: 1px solid red;
    margin-top: 24px;
}
footer p {
    text-align: center;
}